<!DOCTYPE html>
<html>
<head>
    <title>My GitHub Page</title>
</head>
<body>
    <div class="navigation">
        <ul>
            <li><a href="#mmd">I to MMD</a></li>
            <li><a href="#endometrial">I to Endo Ca</a></li>
            <li><a href="#ovarian">I to Ovarian Ca</a></li>
            <li><a href="#breast">I to Breast Ca</a></li>
        </ul>
    </div>

    <div class="section" id="mmd">
        <h2>I to MMD</h2>
        {% include i_to_mmd.md %}
    </div>

    <div class="section" id="endometrial">
        <h2>I to Endo Ca</h2>
        {% include i_to_endo_ca.md %}
    </div>

    <div class="section" id="ovarian">
        <h2>I to Ovarian Ca</h2>
        {% include i_to_ovarian_ca.md %}
    </div>

    <div class="section" id="breast">
        <h2>I to Breast Ca</h2>
        {% include i_to_breast_ca.md %}
    </div>
</body>
</html>
