<h2>MMD with Sex Steroids in Premenopausal women</h2>
<p>Fig 2: Associations of mammographic density measures with sex steroids in premenopausal women (green: positive, grey: null, red: negative associations).</p>
{% include_relative mmd_ss_premeno_bv_menstrual_phase.html %}

<h2>MMD with Sex Steroids in Premenopausal women stratified by BMI categories</h2>
<p>Fig 3: Association of mammographic density measures with sex steroids in premenopausal women stratified by BMI categories (green: positive, grey: null, red: negative associations).</p>
{% include_relative mmd_ss_by_BMI.html %}

<h2>MMD and Urinary Sex Steroids and Estrogen metabolites in pre- and postmenopausal women</h2>
<p>Fig 4: Association of mammographic density measures with urinary sex steroids and estrogen metabolites in pre- and postmenopausal women (green: positive, grey: null, red: negative associations).</p>
{% include_relative mmd_urinary_ss.html %}

<h2>MMD measures with sex steroids in premenopausal women stratified by Menstrual Phases</h2>
<p>Fig 5: Association of mammographic density measures with sex steroids in postmenopausal women (green: positive, grey: null, red: negative associations).</p>
{% include_relative post_menop.html %}
